TH { 
    font-style:bold; 
    background-color:#000099; 
    color:#ffffff;  }
H2 { 
    font-family:Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:14.0pt; 
    color:#000099; 
    line-height:20.0pt; 
    font-stretch:condensed;  }
LI.kadov-H2 { 
             font-family:Arial, Helvetica, sans-serif; 
             font-weight:bold; 
             font-size:14.0pt; 
             color:#000099; 
             line-height:20.0pt; 
             font-stretch:condensed;  }
H3 { 
    font-family:Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:11.0pt; 
    color:#000099; 
    line-height:15.0pt; 
    margin-top:6.0pt; 
    font-stretch:condensed;  }
LI.kadov-H3 { 
             font-family:Arial, Helvetica, sans-serif; 
             font-weight:bold; 
             font-size:11.0pt; 
             color:#000099; 
             line-height:15.0pt; 
             font-stretch:condensed;  }
.caption { 
          font-family:Arial, Helvetica, sans-serif; 
          font-size:8.0pt;  }
LI.kadov-Ccaption { 
                   font-family:Arial, Helvetica, sans-serif; 
                   font-size:8.0pt;  }
.row1 { 
       background-color:#E0E0E0;  }
LI.kadov-Crow1 {  }
.row2 { 
       background-color:#ffffff;  }
LI.kadov-Crow2 {  }
.top { 
      font-size:8.0pt; 
      margin-left:2.0ex;  }
LI.kadov-Ctop { 
               font-size:8.0pt;  }
P { 
   font-family:Arial; 
   font-size:10.0pt; 
   color:#000000;  }
LI.kadov-P { 
            font-family:Arial; 
            font-size:10.0pt; 
            color:#000000;  }
P.Bullet { 
          font-family:Arial; 
          font-size:10.0pt; 
          text-align:left; 
          list-style-type:disc; 
          color:#000000; 
          line-height:12.0pt; 
          margin-top:1; 
          margin-bottom:6.0pt;  }
LI.kadov-P-CBullet { 
                    font-family:Arial; 
                    font-size:10.0pt; 
                    text-align:left; 
                    list-style-type:disc; 
                    color:#000000; 
                    line-height:12.0pt;  }
P.Indented { 
            font-family:Arial; 
            font-size:10.0pt; 
            color:#000000; 
            margin-left:30.0pt;  }
LI.kadov-P-CIndented { 
                      font-family:Arial; 
                      font-size:10.0pt; 
                      color:#000000;  }
P.Note { 
        font-family:Arial; 
        font-size:10.0pt; 
        text-transform:uppercase; 
        color:#000000; 
        margin-bottom:1;  }
LI.kadov-P-CNote { 
                  font-family:Arial; 
                  font-size:10.0pt; 
                  text-transform:uppercase; 
                  color:#000000;  }
P.indent2 { 
           margin-left:40.0pt;  }
LI.kadov-P-Cindent2 {  }
BODY { 
      background-color:#ffffff;  }
SPAN.Code { 
           font-family:courier;  }
A.expandspot { 
              cursor:hand; 
              color:#008000; 
              font-style:normal;  }
SPAN.expandtext { 
                 color:#ff0000; 
                 font-weight:normal; 
                 font-style:italic;  }
A.dropspot { 
            font-style:italic; 
            cursor:hand; 
            color:#008000;  }
A.glossterm { 
             cursor:hand; 
             color:#800000; 
             font-style:normal;  }
SPAN.glosstext { 
                color:#0000ff; 
                font-weight:normal; 
                font-style:italic;  }
